  * {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

body, html {
    background-color: #F2F8FA;
    paddingx: 3px 3px 3px 3px;
    font-family: Verdana, sans-serif;
    font-size: 11pt;
    text-align: center;
  }

  div.main_page {
    position: relative;
    display: table;

    width: 100%;

    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;

    background-color: #FFFFFF;

    text-align: center;
  }

   #map {
        height: 650px;
        width: 100%;
	padding-top: 50px;
   }

   .place {
       padding-top : 30px;
   }

   ul.list-group {
       padding-top : 30px;
   }

   ul li.list-group-item {
       height : 43px;
   }


   ul li .vehsign {
       text-align: left;
       display: inline-block;
   }

   ul li .coll{
       float: left;
   }
   
   ul li .co{
       font-size: 10px;
       color: #787878;
       text-align: left;
       display: inline-block;
       margin-top : 3px;
       margin-left: 14px;
   }


   .list-group-item .close {
       background-color: #C0BE0F;

   }

   .list-group-item .closer {
       background-color: #D75248;
   }

   .list-group-item .far {
       background-color: #37A234;
   }

   .list-group-item .farer {
       background-color: blue;
   }

   .sg {
       height: 20px;
       width: 20px;
       border-radius: 22px;
       display: inline-block;
       margin-left: 27px;
       float: right;
       position: relative;
   }
   