  * {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  body, html {
    padding: 3px 3px 3px 3px;

    background-color: #D8DBE2;

    font-family: Verdana, sans-serif;
    font-size: 11pt;
    text-align: center;
  }

  div.main_page {
    position: relative;
    display: table;

    width: 100%;

    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;

    background-color: #FFFFFF;

    text-align: center;
  }

  div.page_header {
      height: 80px;
      width: 100%;
      background-color: #F5F6F7;
      padding-top: 20px;
  }

  .sg {
      height: 40px;
      width: 40px;
      border-radius: 22px;
      display: inline-block;
      margin-left: 27px;
  }
  .name {
      padding-top: 17px;
      float: left;
      margin-left : 20px;
  }
  .dist {
      position: relative;
      display: inline-block;
      float: left;
      top: 7px;
  }

  .dist .dst {
      font-size: 12px;
      display: inline-block;
      position: relative;
      left: 13px;
      top: -16px;
      font-weight: bold;
      
  }

  .page_header .close {
	background-color: yellow;
	
  }

  .page_header .closer {
	background-color: red;
  }

.page_header .far {
	background-color: green;
  }

.page_header .farer {
	background-color: blue;
  }

   #map {
        height: 500px;
        width: 100%;
   }

